.btn {
  border: none;
  background: none;

  @include mobile {
    &--hidden-mobile {
      display: none;
    }
  }

  @include tablet {
    &__divader-tablet {
      margin-left: 42px - 16px;
      position: relative;

      &::after {
        @include divider;
        top: 10px;
        left: -21px;
      }
    }
  }

  &--flex {
    display: flex;

    &--jc-sb {
      justify-content: space-between;
    }
  }

  &__show-more {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;

    margin-top: 16px;
    padding-left: 32px;
    position: relative;

    &--decor {
      &::before {
        content: url("/src/svg/expand.svg");
        position: absolute;
        top: -3px;
        left: 0;
      }

      &--rotate {
        &::before {
          transform: rotate(180deg);
        }
      }
    }
  }

  @include mobile {
    &__show-more {
      margin-bottom: 16px;
    }

    &__close-feedback-menu {
      margin-right: auto;
    }
  }

  @include tablet-desktop {
    &__close-feedback-menu {
      position: absolute;
      right: 440px + 16px;
      top: 40px + 16px;
    }
  }

  &__feedback-submit {
    color: white;
    margin-top: 23px;
    margin-left: auto;
    z-index: $z-index-upper-layer;
    padding: 4px 28px 4px 8px;
    width: 136px;
    height: 32px;
    border-radius: 16px;
    background: $color-main-btn-color;
    position: relative;

    &::after {
      content: url(/src/svg/goside.svg);
      position: absolute;
      right: 4px;
      top: 4px;
    }
  }

  &__showAll {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;

    margin-top: 24px;
    padding-left: 32px;
    position: relative;

    @include mobile {
      display: none;
    }

    &--decor {
      &::before {
        content: url("/src/svg/expand.svg");
        position: absolute;
        top: -3px;
        left: 0;
      }

      &--rotate {
        &::before {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__service-order {
    border-radius: 16px;
    background: $color-main-btn-color;
    padding: 4px 12px 4px 12px;
    width: 119px;

    color: #fff;
    text-align: left;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 200% */
    letter-spacing: -0.15px;
    text-transform: uppercase;

    position: relative;

    &::after {
      content: url(/src/svg/goside.svg);
      position: absolute;
      right: 4px;
      top: 4px;
    }
  }
}
