.btn {
  border: none;
  background: none;

  @include mobile {
    &--hidden-mobile {
      display: none;
    }
  }

  @include tablet {
    &__divader-tablet {
      margin-left: 42px - 16px;
      position: relative;

      &::after {
        @include divider;
        top: 10px;
        left: -21px;
      }
    }
  }

  &--flex {
    display: flex;

    &--jc-sb {
      justify-content: space-between;
    }
  }
}
