.descr {
  display: flex;
  margin-top: 32px;

  &__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    transition: height 0.5s ease-out, width 0.5s ease-out;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;

    &__img {
      width: 100%;
      max-width: 360px;
      max-height: 208px;
    }
  }

  @include tablet {
    &__img {
      width: 100%;
      max-width: 360px;
      max-height: 208px;
      margin-left: 48px;
      border-radius: 5px;
    }
  }

  @include desktop {
    &__img {
      width: 100%;
      max-width: 532px;
      max-height: 307px;
      margin-left: 36px;
      border-radius: 10px;
    }
  }
}
