.drop-menu {
  display: flex;
  flex-direction: column;
  overflow: auto;

  width: 320px;
  padding: 18px 16px 32px 16px;
  background-color: $color-el-bg;

  &--hidden {
    display: none;
  }

  @include mobile-tablet {
    position: fixed;
    z-index: $sidebar-z-index;
    height: 100%;

    &__logo {
      margin-left: 17px;
    }
  }

  @include mobile {
    width: 100%;
    overflow: hidden;
  }

  @include tablet {
    &--shadow {
      box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
        -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    }
  }

  @include desktop {
    display: block;

    &__header {
      &--desktop-hidden {
        display: none;
      }
    }
  }

  &__header {
    display: flex;

    &--mg-left-auto {
      margin-left: auto;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 24px 24px;

    margin-top: 25px;
    margin-bottom: 32px;

    &--text {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px;
    }

    &--active {
      position: relative;
      color: $color-text-active;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      letter-spacing: -0.2px;

      &::before {
        content: url(/src/svg/highlight.svg);
        position: absolute;
        top: -5px;
        left: -16px;
      }
    }
  }

  &__btns {
    display: flex;
    gap: 16px 16px;

    margin-bottom: 16px;

    &--mg-top-auto {
      margin-top: auto;
    }
  }

  &__email {
    margin-bottom: 12px;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  &__contact-num {
    margin-bottom: 8px;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.6px;
  }

  &__lang {
    display: flex;
    gap: 7px 7px;
  }
}
