.hidden {
  display: none;

  @include mobile {
    &-mobile {
      display: none;
    }
  }

  @include mobile-tablet {
    &-mobile-tablet {
      display: none;
    }
  }

  @include tablet {
    &-tablet {
      display: none;
    }
  }

  @include tablet-desktop {
    &-tablet-desktop {
      display: none;
    }
  }

  @include desktop {
    &-desktop {
      display: none;
    }
  }

  &--visible {
    display: block;
  }
}
