.nav {
  display: flex;
  gap: 16px 16px;

  @include mobile-tablet {
    overflow: auto;
    margin-top: 24px;

    &--left-gradient {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 36px;
        right: 0px;
        background: linear-gradient(
          270deg,
          #f8f8f8 0.04%,
          rgba(248, 248, 248, 0) 100%
        );
      }
    }
  }

  @include desktop {
    flex-wrap: wrap;
    margin-top: 8px;
  }

  &__item {
    color: $color-text-title;
    padding: 8px 9px 8px 16px;
    white-space: nowrap;

    &--active {
      border-radius: 6px;
      border: 2px solid $color-border-highlight;
      background: $color-el-bg;
    }
  }
}
