.title-container {
  display: flex;
  justify-content: space-between;

  &--text {
    display: block;
    text-align: right;
    margin-right: 8px;
  }

  &--mg-left {
    margin-left: 32px;
  }

  @include mobile-tablet {
    &__btn-container {
      display: none;
    }
  }

  @include desktop {
    &__btn-container {
      display: flex;
      align-items: center;
    }
  }
}
