//screen resolutions for different device
$screen-mobile-min-width: 0px;
$screen-mobile-max-width: 767px;

$screen-tablet-min-width: 768px;
$screen-tablet-max-width: 1439px;

$screen-desktop-min-width: 1440px;

//screen resolution to fix the maximum page content width
$screen-page-content-max-width: 1920px;