//screen resolutions for different device
$screen-mobile-min-width: 0px;
$screen-mobile-max-width: 767px;

$screen-tablet-min-width: 768px;
$screen-tablet-max-width: 1439px;

$screen-desktop-min-width: 1440px;

//screen resolution to fix the maximum page content width
$screen-page-content-max-width: 1440px;

$color-main-bg: #F8F8F8;
$color-el-bg: #FFF;
$color-page-bg: #1fc974;

$color-text: #1B1C21;
$color-text-title: #7E7E82;

$color-border-highlight: #D9FFF5;
$color-divader: #EAEAEA;

$color-main-btn-color: #FF3E79;